
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
        
                <img src="assets/images/sad.png" alt="Error" width="100px" height="100px">
                <h1 style="color: red;font-size: 4em;">
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home">&nbsp;&nbsp;</i>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
