<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card0 border-0">
        <div class="row d-flex">
            <!-- <h1 class="text-center" style="margin-top:1%; font-family: 'Roboto Slab', serif;">Main Menu</h1> -->
            <div>
                <!-- <img src="assets/images/girl.png" > -->
                <h1 style="color:#6dc77a;text-align:center;font-size: 4em;padding-top:30px;
                font-family: Inter; font-weight: bold;">Main Menu</h1>
                <h1 style="text-align:center;font-size: 1.1em;
                padding-bottom:30px; font-family: Inter;"> 
                    Everything you need, All in one place</h1>
                </div>
            <div class="col-lg-4">
                <div class="card1 pb-5">
                    <div class="bdy">
                        <section class="cards">
                            <article class="card card--1">
                            <div class="card__img"></div>
                            <a routerLink="/currentprice" class="card_link">
                                <div class="card__img--hover"></div>
                            </a>
                            <div class="card__info">
                                <h3 class="card__title" style="font-size: 1.3em;text-align: center;">Current Market 
                                <br><span style="font-size: 0.7em;text-align: center;"> Stock & Fund Price </span> </h3>
                                <button routerLink="/currentprice" type="submit">View Price</button>
                            </div>
                            
                            </article>   
                        </section>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="card1 pb-5">
                    <div class="bdy">                   
                        <section class="cards">   
                            <article class="card card--2">
                            <div class="card__img"></div>
                            <a routerLink="/viewasset" class="card_link">
                                <div class="card__img--hover"></div>
                            </a>
                            <div class="card__info">
                                <h3 class="card__title"style="font-size: 1.3em;text-align: center;">Calcuate Assets</h3>
                                <button routerLink="/viewasset" type="submit" style="margin-top:30px ;">View Assets</button>
                            </div>
                            
                            </article>  
                        </section>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card1 pb-5">
                    <div class="bdy">
                        <section class="cards"> 
                            <article class="card card--3">
                                <div class="card__img"></div>
                                <a routerLink="/sellasset" class="card_link">
                                <div class="card__img--hover"></div>
                                </a>
                                <div class="card__info">
                                    <h3 class="card__title"style="font-size: 1.3em;text-align: center;">Sell <br>
                                        <span style="font-size: 0.7em;text-align: center;"> Stock & Fund</span></h3>
                                    <button routerLink="/sellasset" type="submit">Sell Assets</button>
                                </div>                                
                            </article>  
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            

