<!-- 
    <div class="container text-center mt">
        <h1>Welcome to Login App</h1>
        <a routerLink="/login" mat-raised-button color="accent">Login Here</a>
    </div> -->

<div class="bootstrap-wrapper">
    
    <div class="container-xxl">
       
        <div class="row">
            <section id="hero" class="d-flex align-items-center">
                <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
                    <div class="row justify-content-center">
                        <div id="top-section-content">
                            <h1  style="color: white; "> TRADE CONFIDENTLY WITH OUR STOCK APPLICATION</h1>
                                <p>BUY & SELL STOCKS</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a routerLink="/login"  class="btn-get-started scrollto" style="background-color:#6dc77a ; font-size: large ;">
                           Get Started  <i class="fa fa-chevron-circle-right"></i> </a>
                    </div>

                    <div class="row icon-boxes">
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box">
                                <div class="icon">
                                    <i class="fa fa-lock"></i></div>
                                <h4 class="title"><a href="/login">Authorization</a></h4>
                                <p class="description">Secured authorization will be done by JWT Security</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-stack-exchange"></i></div>
                                <h4 class="title"><a href="/login">Daily Share</a></h4>
                                <p class="description">View daily stock share price & availability</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="400">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-database"></i></div>
                                <h4 class="title"><a href="/login">Daily Mutual Fund </a></h4>
                                <p class="description">View daily mutual fund price & availability</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3" data-aos="zoom-in" data-aos-delay="500">
                            <div class="icon-box">
                                <div class="icon"><i class="fa fa-line-chart"></i></div>
                                <h4 class="title"><a href="/login">Calculate Networth</a></h4>
                                <p class="description">Manage your Stock with collected assets and sells</p>
                            </div>
                        </div>
             

                    </div>
                </div>
            </section>
            <!-- End Here -->
            <div id="feature-section">
                <h1 class="feature-section-title"><span style="color:#5b57f2;"> Become a Better Investor</span><br>
                    visualize the best stock tracker for investors on <span style="background-color:#ffffff; color:#000000; padding:2px;">STOCK APPLICATION.</span> 
                </h1></div>
                
        </div>
        

    </div>
</div>

<div id="showcase1-container">
    <div class="showcase">
        <div class="col-2">
        <img class="showcase1pic" src="assets/images/buy.png">
        </div>
        <div class="col-2">
        <div class="feature-text">
        <h1 class="section-title">Yes, it even looks
            good place to buy</h1>
            <p class="section-left">Portfolio Management which helps to manage your portfolio
            shares and mutual funds.
        This is the awesome way.</p>
        </div>
        </div><!-- End Feature-Text -->
    </div>
</div>

<div id="showcase2-container">
    <div class="showcase">
        <div class="col-2">
        <div class="feature-text2">
        <h1 class="section-title">How about sell? Yup that too!</h1>
            <p class="section-left">It doesn't matter how much funds and stocks you have, 
                its the easiest way to analyze and sell the stocks,funds for daily current
                price in one place.
            </p>
        </div>
        </div>
        <div class="col-2">
        <img class="showcase2pic" src="assets/images/sell.png">
        </div><!-- End Feature-Text -->
    </div>
</div> <!-- End showcase2-container -->