* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: "Poppins", sans-serif;  
}  
.bdy {  
    overflow: hidden;  
    background-image: url("loginBackground.png");
    background-repeat: no-repeat;
    /* background-position:center; */
}  
section {  
    display: flex;  
    min-height: 100vh;  
    align-items:center;  
    justify-content: left;  
    margin-left: 7%;
}  

.box {  
    position: relative;  
}  
.box .square {  
    position: absolute;  
    border-radius: 10px;  
    backdrop-filter: blur(5px);  
    background: rgba(255, 255, 255, 0.1);  
    animation-delay: calc(-1s * var(--i));  
    animation: animate 10s linear infinite;  
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);  
    border: 1px solid rgba(255, 255, 255, 0.5);  
    border-right: 1px solid rgba(255, 255, 255, 0.2);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}  

.container {  
    width: 400px;  
    display: flex;  
    min-height: 400px;  
    position: relative;  
    border-radius: 10px;  
    align-items: center;  
    justify-content: center;  
    backdrop-filter: blur(5px);  
    background: rgba(255, 255, 255, 0.1);  
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);  
    border: 1px solid rgba(255, 255, 255, 0.5);  
    border-right: 1px solid rgba(255, 255, 255, 0.2);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}  

.form {  
    width: 100%;  
    height: 100%;  
    padding: 40px;  
    position: relative;  
}  
.form h2 {  
    color: #fff;  
    font-size: 24px;  
    font-weight: 600;  
    position: relative;  
    letter-spacing: 1px;  
    margin-bottom: 40px;  
}  
.form h2::before {  
    left:25;  
    width: 110px;  
    height: 4px;  
    content: "";  
    bottom: -10px;  
    background: #fff;  
    position: absolute;  
}  
.form .input__box {  
    width: 100%;  
    margin-top: 20px;  
}  
.form .input__box input {  
    width: 100%;  
    color: #fff;  
    border: none;  
    outline: none;  
    font-size: 16px;  
    padding: 10px 20px;  
    letter-spacing: 1px;  
    border-radius: 35px;  
    background: rgba(255, 255, 255, 0.2);  
    border: 1px solid rgba(255, 255, 255, 0.5);  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);  
    border-right: 1px solid rgba(255, 255, 255, 0.2);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}  
.form::placeholder {  
    color: #fff;  
}  
.form .input__box input[type="submit"] {  
    color: #666;  
    cursor: pointer;  
    background: #fff;  
    max-width: 100px;  
    font-weight: 600;  
    margin-bottom: 20px;  
}  
.forget {  
    color: #fff;  
    margin-top: 5px;  
}  
.forget a {  
    color: #fff;  
    font-weight: 600;  
    text-decoration: none;  
}

::placeholder {
    color: white;
    opacity: 1; 
}

.quotes {
    color: white;
    text-align: center;
    background-color:black;
    margin-left: 7%;
    margin-bottom: 10%;
    border-radius: 15px;
    width:60%;
    height:100px;
    padding: 1% 1% 1% 1%;
    backdrop-filter: blur(5px);  
    background: rgba(0, 0, 0, 0.411);  
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);  
    border: 1px solid rgba(255, 0, 0, 0.5);  
    border-right: 1px solid rgb(69, 195, 124);  
    border-bottom: 1px solid rgba(4, 255, 0, 0.542);  
}

.quotes p {
  
    font-family: 'Secular One';
    font-size: 22px;
}

.input__box i {
    position: absolute;
    padding-left: 3%;
    padding-top: 3%;
    color: white;
}
  
.input__box {
    width: 100%;
    margin-bottom: 10px;
    
}
  
.icon {
    padding: 10px;
    min-width: 40px;
    color: white;
}
  
  .mb-4 {
    width: 100%;
    text-indent: 10px;
  
}  

::placeholder { 
    color: white;
    opacity: 60%; 
  }
  #btn{
    background-color:#6dc77a; color:#ffffff;
  }
  #btn:hover {
    background-color: #4CAF50;   
    color: white;
    
  }