h3.h {
    border: 2px solid blueviolet;
    border-radius: 8px;
    padding: 5px;
}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
