<div class="container">
    <div class="card-body text-center rounded shadow p-3 mb-5 bg-body"
    style="background-color: #e0e0e0;">

    <div>
        <img src="assets/images/girl.png" >
        <h1 style="float: left; padding-top:60px;font-size: 1.5em;padding-left: 60px;font-family: Inter;"> 
            <h1 style="color:#6dc77a;text-align:left;font-size: 2em;">Welcome!</h1>
            Checkout daily stock shares & mutual prices</h1>
        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="py-4">
                <h3 class="text-center h"><i class="fa fa-stack-exchange">&nbsp;&nbsp;</i>Daily Stock Price</h3>
                <table class="table table-hover">
                    <thead class="text-center">
                        <tr style="background-color:#63666A;color: #FFFFFF;
                        font-family: Helvetica;">
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let stock of allStock">
                            <td>{{stock.stockName}}</td>
                            <td>₹{{stock.stockValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="py-4">
                <h3 class="text-center h"><i class="fa fa-database">&nbsp;&nbsp;</i>Daily Mutual Price</h3>
                <table class="table table-hover">
                    <thead class="text-center">
                        <tr style="background-color:#6dc77a;color: #FFFFFF;
                        font-family: Helvetica;">

                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let mf of allMutualFund">
                            <td>{{mf.mutualFundName}}</td>
                            <td>₹{{mf.mutualFundValue}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="text-center">
                <p><button routerLink="/dashboard" class="accent">back</button></p>
            </div> -->
        </div>
    </div>
    </div>
</div>